<div class="container">
<div class="row">
	<div class="col">
		<h1>welcome to<span class="glyphicon glyphicon-book"></span>
			<strong> ★Kitsune Information Room</strong></h1>
			<p><br>　　ここでは</strong>、ユーザー同士で記事を投稿し合い</p>
			<p>　　ゲームの評価や情報共有を得ることができます。</p>
			<p>　　about varioius books!</p>

			<div class="btn-wrapper col-5 mx-auto">
				<div class="row">
					<%=link_to "Log in", new_user_session_path, class: "btn btn-info btn-md btn-block mb-3 sign_in" %>
				</div>
				<div class="row">
					<%=link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-md btn-block sign_up" %>
				</div>
			</div>

	</div>
</div>