<h1>記事編集</h1>

<%= render "books/newform", book: @book %>
<!--<= link_to "Show", @book, class: "book_#{@book.id}" %>-->
<%= link_to "戻る", :back, class: "col-1 col-xs-offset-2 btn btn-success mb-2 text-white" %>